<!DOCTYPE html>
<html>

<head>

<title>
Ask Your Doubt
</title>

<meta
http-equiv="refresh"
content="10">

</head>

<body>

<h1>
Ask Your Doubt
</h1>

<form method="POST"
      action="/submit-doubt/{{ session_id }}">

<textarea
name="question"
rows="6"
cols="80"
required>
</textarea>

<br><br>

<button>
Submit Doubt
</button>

</form>

<hr>

<h2>
Resources Shared By Teacher
</h2>

{% if resources|length == 0 %}

No Resources Available

{% endif %}

{% for r in resources %}

<hr>

<b>
{{ r[0] }}
</b>

<br><br>

{% if r[1] == "VIDEO" %}

<a href="{{ r[3] }}"
target="_blank">

Open Video

</a>

{% endif %}

{% if r[1] == "PDF" %}

<a href="/{{ r[2] }}"
target="_blank">

Open PDF

</a>

{% endif %}

{% if r[4] %}

<br><br>

{{ r[4] }}

{% endif %}

{% endfor %}

<hr>

<h2>
Live Doubts
</h2>

{% if doubts|length == 0 %}

No Doubts Yet

{% endif %}

{% for doubt in doubts %}

<hr>

<b>
Votes :
{{ doubt[2] }}
</b>

<br><br>

{{ doubt[1] }}

<br><br>

<a href="/upvote/{{ doubt[0] }}">
👍 I Have Same Doubt
</a>

{% endfor %}

<hr>

<a href="/student-logout">
Logout
</a>

</body>
</html>