<!DOCTYPE html>
<html>

<head>
    <title>Session Ended</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="join-wrapper">

    <div class="join-left">

        <h1>Ask Your Doubt</h1>

        <p>
            Thank you for joining the live classroom doubt session.
        </p>

        <p>
            Your session has now ended.
        </p>

    </div>

    <div class="join-right">

        <div class="join-card">

            <h2>This Doubt Session Has Ended</h2>

            <div class="warning">
                {{ session_name }} is closed by the teacher.
                You have been logged out from this session.
            </div>

            <p class="small-text">
                You cannot submit new doubts or upvote questions now.
            </p>

            <a class="primary-btn" href="/">
                Go to Home
            </a>

        </div>

    </div>

</div>

</body>
</html>