<!DOCTYPE html>
<html>

<head>
    <title>Create Session</title>
</head>

<body>

<h1>Create Session</h1>

<form method="POST">

    Session Name

    <br>

    <input
        name="session_name"
        required>

    <br><br>

    Duration

    <br>

    <select name="duration">

        <option value="60">
            60 Minutes
        </option>

        <option value="90">
            90 Minutes
        </option>

        <option value="120">
            120 Minutes
        </option>

        <option value="180">
            180 Minutes
        </option>

    </select>

    <br><br>

    <button>
        Create Session
    </button>

</form>

</body>
</html>