<!DOCTYPE html>
<html>

<head>
    <title>Teacher Login - Ask Your Doubt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="join-wrapper">

    <div class="join-left">

        <h1>Teacher Portal</h1>

        <p>
            Create live classroom doubt sessions, share QR links,
            answer questions, upload resources, and track learning gaps.
        </p>

        <p>
            Manage your classroom in real time.
        </p>

    </div>

    <div class="join-right">

        <div class="join-card">

            <h2>Teacher Login</h2>

            <p class="small-text">
                Enter your teacher username and password.
            </p>

            <form method="POST">

                <label>Username</label>
                <br>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required>

                <br><br>

                <label>Password</label>
                <br>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required>

                <br><br>

                <button class="primary-btn">
                    Login as Teacher
                </button>

            </form>

            <br><br>

<a href="/teacher-forgot-password">
    Forgot Password?
</a>

            <a class="btn btn-gray" href="/">
                Back to Home
            </a>

        </div>

    </div>

</div>

</body>
</html>