<!DOCTYPE html>
<html>

<head>
    <title>{{ session_name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="header">
    <h1>{{ session_name }} Dashboard</h1>
</div>

<div class="container">

    <div class="page-layout">

        <div>

            <div class="section links">

                <a href="/teacher-dashboard">Dashboard</a>
                <a href="/teacher-resources/{{ session_id }}">Resources</a>
                <a href="/teacher-question-bank/{{ session_id }}">Question Bank</a>
                <a href="/teacher-keywords/{{ session_id }}">Keyword Analysis</a>
                <a href="/teacher-categories/{{ session_id }}">Category Analysis</a>
                <a href="/export-session-questions/{{ session_id }}">Download Questions</a>
                <a href="/teacher-logout">Logout</a>
                {% if session_status == "ACTIVE" %}

<a class="btn btn-red" href="/close-session/{{ session_id }}">
Close Session
</a>

{% else %}

<a class="btn btn-green" href="/reopen-session/{{ session_id }}">
Reopen Session
</a>

{% endif %}
{% if session_status == "CLOSED" %}

<div class="warning">
    This session is closed. Students cannot submit new doubts or upvote.
</div>

{% endif %}

            </div>

            <div class="notice">
                Live questions refresh automatically. QR code and joining link are on the right side.
            </div>

            <div id="teacher-live">
                <div class="section">
                    Loading session data...
                </div>
            </div>

        </div>

        <div class="qr-card">

            <img src="/static/qr/session_{{ session_id }}.png">

            <h3>Scan QR</h3>

            <p class="small-text">
                Students can scan this QR or open the link below.
            </p>

            <input
                type="text"
                id="joinLink"
                value="{{ join_url }}"
                readonly>

            <br><br>

            <button class="btn" onclick="copyJoinLink()">
                Copy Join Link
            </button>

        </div>

    </div>

</div>

<script>

function copyJoinLink(){

    var linkBox = document.getElementById("joinLink");

    linkBox.select();

    document.execCommand("copy");

    alert("Join link copied");
}

function loadTeacherLive(){

    fetch("/teacher-session-live/{{ session_id }}")
    .then(function(response){
        return response.text();
    })
    .then(function(data){
        document.getElementById("teacher-live").innerHTML = data;
    });

}

loadTeacherLive();

setInterval(loadTeacherLive, 5000);

</script>

</body>
</html>