<!DOCTYPE html>
<html>

<head>
    <title>Create Teacher</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="header">
    <h1>Create Teacher</h1>
</div>

<div class="container">

    <div class="section links">
        <a href="/admin-dashboard">Dashboard</a>
        <a href="/admin-teachers">Teachers</a>
    </div>

    <div class="section clean-form-card">

        <h2>New Teacher Account</h2>

        <form method="POST">

            <label>Teacher Name</label>
            <br>

            <input
                class="full-width-input"
                type="text"
                name="name"
                placeholder="Enter teacher name"
                required>

            <br><br>

            <label>Username</label>
            <br>

            <input
                class="full-width-input"
                type="text"
                name="username"
                placeholder="Enter login username"
                required>

            <br><br>

            <label>Password</label>
            <br>

            <input
                class="full-width-input"
                type="password"
                name="password"
                placeholder="Enter password"
                required>

            <br><br>

            <button class="primary-btn">
                Create Teacher
            </button>

        </form>

    </div>

</div>

</body>
</html>