<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body>

<h1>
Admin Dashboard
</h1>

<hr>

Teachers :
{{ total_teachers }}

<br><br>

Sessions :
{{ total_sessions }}

<br><br>

Students :
{{ total_students }}

<br><br>

Doubts :
{{ total_doubts }}

<br><br>

<hr>

<a href="/admin-create-teacher">
Create Teacher
</a>

<br><br>

<a href="/admin-teachers">
Teachers
</a>

<br><br>

<a href="/admin-sessions">
Sessions
</a>

<br><br>

<a href="/admin-students">
Students
</a>

<br><br>

<a href="/admin-doubts">
Doubts
</a>

<br><br>

<a href="/admin-teacher-activity">
Teacher Activity
</a>

<br><br>

<a href="/admin-category-analytics">
Category Analytics
</a>

<br><br>

<a href="/admin-keyword-analytics">
Keyword Analytics
</a>

<br><br>

<a href="/admin-logout">
Logout
</a>

</body>
</html>