<!DOCTYPE html>
<html>

<head>
    <title>Admin Login - Ask Your Doubt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="join-wrapper">

    <div class="join-left">

        <h1>Admin Portal</h1>

        <p>
            Manage your full Ask Your Doubt platform from one place.
        </p>

        <p>
            Teachers, sessions, students, questions, exports,
            and analytics are controlled here.
        </p>

    </div>

    <div class="join-right">

        <div class="join-card">

            <h2>Admin Login</h2>

            <p class="small-text">
                Enter admin username and password.
            </p>

            <form method="POST">

                <label>Username</label>
                <br>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required>

                <br><br>

                <label>Password</label>
                <br>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required>

                <br><br>

                <button class="primary-btn">
                    Login as Admin
                </button>

            </form>

            <br><br>

<a href="/admin-forgot-password">
    Forgot Password?
</a>

            <a class="btn btn-gray" href="/">
                Back to Home
            </a>

        </div>

    </div>

</div>

</body>
</html>