<!DOCTYPE html>
<html>

<head>
    <title>Reset Teacher Password</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="join-wrapper">

    <div class="join-left">

        <h1>Reset Teacher Password</h1>

        <p>
            Admin can reset teacher password when teacher forgets login details.
        </p>

    </div>

    <div class="join-right">

        <div class="join-card">

            <h2>{{ teacher[1] }}</h2>

            <p class="small-text">
                Username: {{ teacher[2] }}
            </p>

            <form method="POST">

                <label>New Password</label>
                <br>

                <input
                    type="password"
                    name="new_password"
                    placeholder="Enter new password"
                    required>

                <br><br>

                <label>Confirm New Password</label>
                <br>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required>

                <br><br>

                <button class="primary-btn">
                    Reset Password
                </button>

            </form>

            <br>

            <a class="btn btn-gray" href="/admin-teachers">
                Back to Teachers
            </a>

        </div>

    </div>

</div>

</body>
</html>